// Easing
$default_cubic: 0.2s cubic-bezier(0.3, 0.6, 0.67, 0.83);
$cubic_long: 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
$default_ease: 0.6s ease;
$fast_ease: 0.2s ease;

// VARS
$btn_radius: 8px;
$card_radius: 16px;

// Colors
$txt: #000000;
$white: #ffffff;
$txt_gray: #88838e;


$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desctop_wide: 1400px;
